# This file is an example of the .env file that you should create in the root of the project

SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY # This is the key you copied from the Supabase dashboard, it cannot be shared
SUPABASE_URL=YOUR_SUPABASE_URL